header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 4rem;
  background: var(--darkblack);
  color: var(--white);
}
header .header-section,
footer .footer-section {
  display: flex;
  gap: 1.5rem;
}
header .header-tabs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--lightgrey);
  color: var(--black);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .header-tabs svg {
  color: var(--pink);
}
header .header-tabs:hover {
  background: var(--lightgrey4);
}

.page-layout {
  padding: 4rem;
  min-height: calc(100vh - 8rem);
  background: var(--lightgrey);
  transition: all 0.2s ease-in-out;
}
.page-layout-simple {
  min-height: calc(100vh - 8rem);
  background: var(--lightgrey);
  transition: all 0.2s ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
  padding-top: 4rem;
  background: var(--darkblack);
  color: var(--white);
}

@media screen and (max-width: 900px) {
  header {
    padding: 1rem 2rem;
    gap: 1rem;
  }
  header .header-section {
    gap: 1rem;
  }
  .page-layout {
    padding: 2rem;
  }
  footer {
    padding: 1rem 2rem;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 768px) {
  header .header-section.nav {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  footer .footer-section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  header .header-tabs:first-of-type span.hide-on-sm {
    display: none;
  }
}
