.package-details-banner {
  display: flex;
}
.package-details-banner iframe {
  width: 80rem;
}
.pack-details {
  padding: 4rem;
}
@media screen and (max-width: 768px) {
  .package-details-banner {
    flex-direction: column-reverse;
  }
  .package-details-banner iframe {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .package-details-banner > div {
    padding: 2.5rem;
  }
  .pack-details {
    padding: 4rem 2rem;
  }
  .package-details-banner > div button {
    width: 100%;
  }
  .package-details-banner > div .pack-countdown {
    font-size: 1.5rem;
  }
  .package-details-banner > div .pack-name {
    font-size: 2rem;
  }
  .package-details-banner > div .pack-price {
    font-size: 1.5rem;
  }
}
