.btn {
  text-align: center;
  transition: 0.3s all ease-in-out;
}
.btn.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}
.btn.btn-blue:hover {
  background-color: var(--blue2);
}
.btn.btn-blue3 {
  background-color: var(--blue3);
  color: var(--white);
}
.btn.btn-blue3:hover {
  background-color: var(--blue4);
}
.btn.btn-pink {
  background-color: var(--pink);
  color: var(--white);
}
.btn.btn-pink:hover {
  background-color: var(--pink2);
}
.btn[disabled] {
  background-color: var(--lightgrey3);
  color: var(--black);
}
.btn[disabled]:hover {
  background-color: var(--lightgrey3);
  color: var(--black);
}
.btn.btn-grey {
  background-color: var(--lightgrey3);
  color: var(--darkgrey);
}
.btn.btn-lg {
  padding: 0.5rem 1.5rem;
}
.btn.btn-md {
  padding: 0.5rem 1rem;
}
.btn.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.88rem;
}
.btn.btn-rounded-md {
  border-radius: 0.5rem;
}
.btn.btn-rounded-sm {
  border-radius: 0.25rem;
}