@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --darkblack: #0c0c0c;
  --darkblack2: #0f0f0f;
  --dark: #1a1a1a;
  --black: #333;
  --white: #fafafa;
  --pink: #e91e63;
  --pink2: #ff0057;
  --lightgrey: #ebebeb;
  --lightgrey2: #c4c4c4;
  --lightgrey3: #d4d4d4;
  /* old ui colors */
  --lightgrey4: #f3f3f6;
  --grey: #656569;
  --darkgrey: #515151;
  --lightblue: #e7f4f7;
  --blue: #4071b8;
  --blue2: #2e5aac;
  --blue3: #276b75;
  --blue4: #008d9d;
  --green: #56c568;
  --goldenyellow: #f2be5e;
}

body {
  color: var(--white);
  background: var(--darkblack);
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}
h2 {
  font-size: 2rem;
  line-height: 2.25rem;
}
h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}
h6 {
  font-size: 0.875rem;
  line-height: 1.15rem;
}

input,
select,
textarea {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border: solid 1px var(--lightgrey2);
  border-radius: 0.25rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
}
input.type2,
select.type2,
textarea.type2 {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: solid 1px var(--pink);
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--lightgrey2);
}
input:disabled {
  color: var(--grey);
}
